@font-face {
    font-family: 'GE-SS';
    src: url('GESSTextBold-Bold.woff2') format('woff2'),
        url('GESSTextBold-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTPro-Roman.woff2') format('woff2'),
        url('HelveticaLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTPro-Light.woff2') format('woff2'),
        url('HelveticaLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT-Arabic';
    src: url('HelveticaNeueLTArabic-Bold.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTPro-Bold.woff2') format('woff2'),
        url('HelveticaLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT-Arabic';
    src: url('HelveticaNeueLTArabic-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion';
    src: url('MinionPro-Regular.woff2') format('woff2'),
        url('MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT-Arabic';
    src: url('HelveticaNeueLTArabic-Light.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
