// Custom Variables //
$primaryFont: 'Helvetica';
$secondaryFont: 'Helvetica';
//$secondaryFont: 'GE-SS';


// Set Colors
$primaryColor: #FF957D;
$secondaryColor: #221F20;
$black: #000000;
$white: #ffffff;
$iYellow: #f5c200;
$Red: #c20618;

$hoverColor: #d8d8d8;



// Media Queries
$vpDesktop1680: '(max-width:1680px)';
$vpDesktop1440: '(max-width:1440px)';
$vpTablet1280: '(max-width:1280px)';
$vpTablet1229: '(max-width:1229px)';
$vpTablet1024: '(max-width:1024px)';
$vpTablet991: '(max-width:991px)';
$vpTablet767: '(max-width:767px)';
$vphMobile650: '(max-height:650px)';
$vpMobile600: '(max-width:600px)';
$vpMobile480: '(max-width:480px)';
$vpMobile390: '(max-width:390px)';
$vpMobile359: '(max-width:359px)';